{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<h1>Add words here</h1>


<br>
<div class="clearfix">
          <a class="btn btn-primary float-left" href="{{url_for('home')}}">return home</a>
</div>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>

<ul>{{word.English_word}} {{word.Spanish_word}}
    <a href="{{url_for('check', word_id=word.id) }}">✘
        </a>
</ul>

<br>
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}



{% include "footer.html" %}