{% include "header.html" %}

<h1>Quiz home here</h1>


<br>
<div class="clearfix">
          <a class="btn btn-primary float-left" href="{{url_for('home')}}">return home</a>
</div>

<br>
<div class="clearfix">
          <a class="btn btn-primary float-left" href="{{url_for('flash_card_es_en')}}">Flash Card Quiz. Spanish to English</a>
</div>

<br>
<div class="clearfix">
          <a class="btn btn-primary float-left" href="{{url_for('flash_card_en_es')}}">Flash Card Quiz. English to Spanish</a>
</div>

{% include "footer.html" %}